p{
    background-color: aqua;
    width: 30%;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 45px;
    margin-top: 50px;
    margin-left: 50px;
}

#input{
    background-color: aqua;
    width: 35%;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 45px;
    padding-right: 45px;
    margin-left: 50px;

}

#verify{
    background-color: aquamarine;
    width: 35%;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 45px;
    padding-right: 45px;
    text-decoration: none;
    margin-left: 50px;

}

#usernameInput{
    background-color: aquamarine;
    color: red;
}

#passwordInput{
    background-color: aquamarine;
    color: red;
}